button {
    -webkit-appearance: button;
    border: none;
}
button.primary {
    color: var(--on-primary);
    background: var(--primary);
}
button.secondary {
    color: var(--on-secondary);
    background: var(--secondary);
}
button.tertiary {
    color: var(--on-tertiary);
    background: var(--tertiary);
}
button.small {
    font-size: small;
    margin: 8px;
    padding: 8px 20px;
    border-radius: 99999px;
}
button.medium {
    /* font-size: 14pt; */
    font-size: medium;
    margin: 10px;
    padding: 10px 24px;
    border-radius: 99999px;
}
button.large {
    font-size: 16pt;
    padding: 14px 32px;
    border-radius: 99999px;
}